RewriteEngine On

RewriteRule "index.html" "index.php"
RewriteRule "san-pham" "product.php"
RewriteRule "lien-he" "contact.php"
RewriteRule "about" "about.php"
RewriteRule "trung-bay" "gallery.php"
RewriteRule "^chi-tiet/([0-9]+).html$" "chitiet.php?id=$1"
RewriteRule "^san-pham/([a-zA-Z0-9_-]+)$" "product.php?slug=$1"
