RewriteEngine On

RewriteRule "index.html" "index.php"
RewriteRule "san-pham" "product.php"
RewriteRule "lien-he" "contact.php"
RewriteRule "ve-chung-toi" "about.php"
RewriteRule "tin-tuc" "gallery.php"
RewriteRule "dich-vu" "category.php"
RewriteRule "chi-tiet/([a-zA-Z0-9_-]+)$" "detail.php?slug=$1"
RewriteRule "mau" "mau.php"
RewriteRule "loi-cam-on" "thanks.php"
RewriteRule "^san-pham/([a-zA-Z0-9_-]+)$" "product.php?slug=$1"
