RewriteEngine On

RewriteRule ^([a-zA-Z0-9_-]+)-([0-9]+).html$ index.php?mod=page&controller=index&action=detail&id=$2&slug=$1
RewriteRule ^danh-muc/([a-zA-Z0-9_-]+)-([0-9]+).html$ index.php?mod=product&controller=index&action=main&cat_id=$2&slug=$1