@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: #818181;
  font-size: 15px;
}

a {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #7754f6;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: #643cf5;
}

.form-wrap {
  z-index: 1;
  padding: 5%;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25% 75% 25% 75% / 75% 25% 75% 25%;
  background: linear-gradient(0deg, #474bff33 0%, #bc48ff33 100%);
}

.form-wrap .title {
  font-size: 50px;
  color: #000;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.form-wrap .form-floating {
  position: relative;
  margin-bottom: 15px;
}

.form-wrap .form-floating .form-control {
  height: 60px !important;
  border-radius: 10px !important;
}

.form-wrap .form-floating .form-control:active,
.form-wrap .form-floating .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #7754f6;
}

.form-wrap .password-show-toggle {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 9;
}

.form-wrap .password-show-toggle span {
  font-size: 20px;
}

.form-wrap .password-show-toggle span:before {
  font-family: "fontawesome";
  content: "\f06e";
}

.form-wrap .password-show-toggle.active span:before {
  content: "\f070";
}

.form-wrap .form-check {
  margin-bottom: 30px;
}

.form-wrap .form-check .form-check-input {
  border-color: #d1d1d1 !important;
}

.form-wrap .form-check .form-check-input:checked {
  background-color: #7754f6;
  border-color: #7754f6 !important;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-wrap .form-check .form-check-input:focus,
.form-wrap .form-check .form-check-input:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-wrap .btn-primary {
  border-radius: 10px;
  background-color: #7754f6;
  border-color: #7754f6;
  height: 60px;
  font-weight: 500;
  -webkit-box-shadow: 0 15px 30px -7px rgba(119, 84, 246, 0.5);
  box-shadow: 0 15px 30px -7px rgba(119, 84, 246, 0.5);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  font-size: 18px;
}

.form-wrap .btn-primary:hover {
  background-color: #643cf5;
  border-color: #643cf5;
}

.form-wrap .social-account-wrap {
  padding-top: 30px;
  padding-bottom: 50px;
}

.form-wrap .social-account-wrap h4 {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  position: relative;
}

.form-wrap .social-account-wrap h4 span {
  z-index: 1;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
}

.form-wrap .social-account-wrap h4:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: #d1d1d1;
  z-index: -1;
}

.form-wrap .social-account-wrap .social-account li {
  width: calc(25% - 0);
}

.form-wrap .social-account-wrap .social-account li a {
  display: inline-block;
  border: 1px solid #d1d1d1;
  padding: 10px;
  border-radius: 10%;
}

.form-wrap .social-account-wrap .social-account li a:hover {
  border-color: #bdbdbd;
}

#info {
  background: #333;
  opacity: 0.8;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 280px;
  color: #fff;
  border-radius: 5px;
  z-index: 10;
}

#info p {
  padding: 0 10px;
}

#info a {
  color: #f2ea0a;
}

canvas {
  cursor: crosshair;
  display: block;
}
